# CONFIG_DEBUG=n
# CONFIG_DEBUG_INFO=n
# CONFIG_EARLY_PRINTK=n
# CONFIG_EARLY_UART_CHOICE_SCIF=n
# CONFIG_EARLY_UART_SCIF=n
# CONFIG_EARLY_PRINTK=n
# CONFIG_EARLY_UART_BASE_ADDRESS=0xe6540000
# CONFIG_EARLY_UART_SCIF_VERSION_NONE=n
CONFIG_DEBUG=n
CONFIG_DEBUG_INFO=n
CONFIG_XEN_TRACE=n
CONFIG_DEBUG_TRACE=n
CONFIG_TRACEBUFFER=n
CONFIG_DEBUG_LOCKS=n
CONFIG_VERBOSE_DEBUG=n
CONFIG_SCRUB_DEBUG=n
CONFIG_WATCHDOG=y

